*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

.container{
    margin-top: 2vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
}

.bookmarkContainer{
    display: flex;
    gap:2vw;
    width:90%;
    height:40vh;
}
